[submodule "ghc"]
	path = ghc
	url = https://github.com/nathyong/microghc-ghc
	branch = wip/implement-fmu-dummy
[submodule "mu"]
	path = mu
	url = https://github.com/nathyong/microghc-mu
	branch = master
